{% extends 'base.html.twig' %}

{% block title %}Liste des Sites{% endblock %}

{% block body %}
    <h1>Liste des Sites</h1>

    {# Formulaire pour créer un site #}
    <form method="post" action="{{ path('app_site') }}">
        <label for="nouveauSite">Nouveau Site:</label>
        <input type="text" name="nouveauSite" id="nouveauSite">
        <input type="submit" value="Créer">
    </form>

    <hr>

    {# Liste des sites existants #}
    {% for site in sites %}
        <h4>{{ site.nom }}</h4>
        <a href="{{ path('app_site_modifier', {'id': site.id}) }}">Modifier</a>
        <a href="{{ path('app_site_supprimer', {'id': site.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce site?')">Supprimer</a>
        <hr>
    {% endfor %}
{% endblock %}
