{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
    <h1>Liste des sorties</h1>
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.date|date('d/m/Y H:i') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
