{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}

    <h1>Liste des sorties</h1>
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sortieList %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                {%  if app.user not in sortie.participantsInscrits and sortie.etat == Etat.OPEN %}
                <td><a href="{{ path('app_inscription',{id:sortie.id}) }}">S'inscrire</a> </td>
                {% else %}
                    <td><a href="{{ path('app_inscription',{id:sortie.id}) }}">Se désister</a> </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
