{% extends 'base.html.twig' %}

{% block title %}Ville{% endblock %}

{% block body %}
    <div class="container bootstrap snippets bootdey">
        <h1 class="text-primary">SORTIE</h1>
                    {{ sortie.nom }}

        <table class="table">
            <tbody>
            <tr>
                <td>Pseudo</td>
                <td>Nom Prenom</td>
            </tr>
            {% for participant in sortie.participantsInscrits %}
            <tr>
                <td>{{ participant.pseudo }}</td>
                <td>{{ participant.nom }}   {{ participant.prenom }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- DivTable.com -->

        <p></p>

    </div>
{% endblock %}
