{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <section class="w-100 p-4 d-flex justify-content-center pb-4">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form action="{{ path('app_login') }}" method="post">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="username">Adresse mails</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="password">Mots de passe</label>
                <input class="form-control"  type="password" id="password" name="_password">
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="rememberme" name="_remember_me" checked >
                        <label class="form-check-label" for="rememberme"> Se souvenir de moi </label>
                    </div>
                </div>
                {#            <div class="col">#}
                {#                <!-- Simple link -->#}
                {#                <a href="#!">Forgot password?</a>#}
                {#            </div>#}
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-dark btn-block mb-4"> Se connecter</button>
            <!-- Register buttons -->
            <div class="text-center">
                <p>Vous n'êtes pas inscrit ?<a href="{{ path('app_register') }}" > S'inscrire</a></p>
            </div>
        </form>
    </section>

{% endblock %}