@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons";

body {
    background-color: lightgray;
}

.form-group label {
    color: #007BFF;
}

.form-group .form-control {
    background-color: #F8F9FA;
}
