{% extends 'base.html.twig' %}

{% block title %}Modification de la ville{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modification de la ville</h1>
        <div class="row">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.nom, 'Nom de la Ville:', {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                <div class="col-lg-8">
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            {# Ajoutez d'autres champs de votre formulaire VilleType ici s'ils existent #}
            <div class="form-group">
                <div class="col-lg-offset-3 col-lg-8">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
