

{% block stylesheets %}
    {{ encore_entry_link_tags('footer') }}
{% endblock %}

<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a class="link" href="/"> Sortir.com</a>
    </div>
    <!-- Copyright -->

</footer>
