<nav class="navbar navbar-light " style="background-color: #D9D9D9;">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="{{ asset('images/logo.png') }}" alt="Votre Logo" style="width: 100px; height: auto;">
        </a>
        <form class="d-flex input-group w-auto">
            <input
                    type="search"
                    class="form-control rounded"
                    placeholder="Search"
                    aria-label="Search"
                    aria-describedby="search-addon"
            />
            <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
            </span>
        </form>
    </div>
</nav>